@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Sansita Swashed', cursive;}

.contenedor{width: 98%; margin: auto}

section{width: 100%; margin-bottom: 25px;}

@media (min-width:1024px){
  .contenedor{width: 1000px;}
}
