.badge{display: inline; background-color: red; border-radius: 50%; font-size: 12px; }
/*display inline*/
.sidebar{position: absolute; top: 50px; left: 0; width: 100%; height: 100vh; background: rgba(51,51,51,0.9); transition: all 0.5s;}
.sidebar a{display: block; color: #fff; height: 50px; text-decoration: none; padding: 15px; border-bottom: 1px solid rgba(255,255,255,0.5); transition: 0.3s;}
.sidebar button{height: 50px; width: 100%}

.sidebar_open{transform: translateX(0%)}
.sidebar_close{transform: translateX(-100%)}
