.badge{display: flex; justify-content: center; align-items: center; border-radius: 50%; width: 20px; height: 20px; font-size: 14px; position: absolute; right: -1px; top: 3px; background: red; line-height: 0;}
/*display inline*/
.sidebar{position: absolute; top: 50px; left: 0; width: 50%; height: 100vh; background: rgba(51,51,51,0.9); transition: all 0.5s;}
.itemCart{display: flex; height: 50px; padding: 15px; align-items: center; border-bottom: 1px solid rgba(255,255,255,0.5); transition: 0.3s;}
.itemCart p{margin: 15px; }
.itemCart i{position: absolute; left: 500px; cursor: pointer;}
/*.sidebar a{display: block; color: #fff; height: 50px; text-decoration: none; padding: 15px; border-bottom: 1px solid rgba(255,255,255,0.5); transition: 0.3s;}*/
.sidebar button{height: 50px; width: 100%; font-size: 16px; cursor: pointer;}

.sidebar_open{transform: translateX(100%)}
.sidebar_close{transform: translateX(200%)}
