#ProductDetail h3, h4, h5, .agregar .addToCart{text-align: center; padding: 5px;}
#ProductDetail{margin-top: 50px;}

#ProductDetail .contenedor{display: flex; justify-content: center; flex-wrap: wrap}

.agregar i{cursor: pointer}
.agregar input{padding: 5px; text-align: center;}

.addToCart{margin-top: 5px; padding: 7px; border: none; border-radius: 5px; cursor: pointer; color: white; background-color: #333; transition: .3s }
.addToCart:hover{ color: black; background-color: #ccc }

.hide{display: none}
.show{display: block}